 <h1>stupid Coaching</h1>

 <div>
 <p>Hello There</p>
 <p>- coach</p>
 </div>

 <div>
  <%=  @question %>
   <p>- you</p>
 </div>

 <div>
  <%= @answer %>
   <p>- coach</p>
 </div>

<button><%= link_to 'Ask a new question', '/ask' %></button>
